@model Trabalho_23_08.Models.Sala

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Sala</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="equipamentos" class="control-label"></label>
                <input asp-for="equipamentos" class="form-control" />
                <span asp-validation-for="equipamentos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="situacao" class="control-label"></label>
                <input asp-for="situacao" class="form-control" />
                <span asp-validation-for="situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
